extends base
block content 
  h1 Landing Page
  .createCustomer.btn
    a(href='/customers') Create Customer
  .viewCustomer.btn
    a(href='/viewListCustomers') View List Customers
  .updateCustomer.btn
    a(href='/customers') Update Customer
  .deleteCustomer.btn
    a(href='/customers') Delete Customer
  .getCustomer.btn
    a(href='/getCustomer') Get Customer   